@use '../abstracts/colors' as color;
@use '../abstracts/fonts' as fonts;
@use '../abstracts/typography' as tphy;
@use '../abstracts/mixins' as m;
body{
    font-family: fonts.$font-family;
    background: color.$bg-body;
}
@include m.desktop {
    body{
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
html {
    /* Para utilizar 1rem = 10px */
    font-size: 62.5%;
}
  *, *:before, *:after {
    box-sizing: inherit;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.attribution{
    color: #fff;
}
a{
    text-decoration: none;
    padding-top: 2rem;
}
@include m.desktop {
    a{
        display: block;
    }
}
img{
    width: 20%;
}
.hover:hover{
    background-color: color.$bg-card-hover;
}
.perfil__routine a:hover{
    cursor: pointer;
    color: #fff;
    font-weight: normal;
}