.border-all{
    border-radius: 20px;
}
.border-top{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.border-bottom{
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}