$bg-photo: hsl(246, 80%, 60%);
$bg-top-work: hsl(15, 100%, 70%);
$bg-top-play: hsl(195, 74%, 62%);
$bg-top-study: hsl(348, 100%, 68%);
$bg-top-exercise: hsl(145, 58%, 55%);
$bg-top-social: hsl(264, 64%, 52%);
$bg-top-self-care: hsl(43, 84%, 65%);
$bg-body: hsl(226, 43%, 10%);
$bg-card: hsl(235, 46%, 20%);
$bg-card-hover: hsl(235, 45%, 61%);
$text-color-p: hsl(236, 100%, 87%);