@use './fonts' as fonts;
@use './colors' as colors;
@use '../abstracts/mixins' as m;
p, a{
    font-size: 1.4rem;
    color: colors.$text-color-p;
}
@include m.desktop {
    p{
        font-size: 1.6rem;
    }
}
.name, .horas , .title, .default{
    color: #fff;
}
.horas, p, a{
    font-weight: fonts.$font-light;
}
.name{
    font-weight: fonts.$font-medium;
}
.title{
    font-weight: fonts.$font-normal;
}
.attribution a{
    color: colors.$bg-top-work;
}
.name{
    font-size: 2.4rem;
}
@include m.desktop {
    .name{
        font-size: 3.7rem;
    }
    a{
        font-size: 1.6rem;
    }
}
.title{
    font-size: 1.6rem;
}
@include m.desktop {
    .title{
        font-size: 2rem;
    }
}
.horas{
    font-size: 3rem;
}
@include m.desktop {
    .horas{
        font-size: 5rem;
        padding-top: 1rem;
    }
}